In [1]:
from entityMaker.maker import maker_LocalsearchTimeStampEndTime, maker_RouterWiFiDuration, \
    maker_TvChannelPosition, maker_RadioChannelPosition, maker_Duration, maker_LocalsearchTimeStampStartDay, \
    maker_LocalsearchTimeStampStartTime
from entityMaker.helper import clean_movie, merge_entity_types
import pandas as pd
import json
%load_ext autoreload
%autoreload 2

## Read data

In [34]:
entities = pd.read_json("data/entities.json")
entities = entities[['value', 'type', 'language', 'normalizedValue', 'aliases']]
entities

              value                 type language normalizedValue aliases
0            Widnau  LocalsearchLocation       de          widnau      []
1            Zurigo  LocalsearchLocation       it          zurigo      []
2         Solothurn  LocalsearchLocation       de       solothurn      []
3           Muttenz  LocalsearchLocation       de         muttenz      []
4              Lyss  LocalsearchLocation       de            lyss      []
...             ...                  ...      ...             ...     ...
65466    baby dance   SmartHomeSceneName       en      baby dance      []
65467     Fernseher   SmartHomeSceneName       de       fernseher      []
65468  tutto spento   SmartHomeSceneName       it    tutto spento      []
65469     lumières    SmartHomeSceneName       fr        lumières      []
65470           zen   SmartHomeSceneName       en             zen      []

[65471 rows x 5 columns]

## Merge different types in entities

In [35]:
li = ["VodName", "SeriesName", "BroadcastName"]
entities_with_collection = merge_entity_types(entities, li)
entities_with_collection

,value,type,language,normalizedValue,aliases
0,Widnau,LocalsearchLocation,de,widnau,[]
1,Zurigo,LocalsearchLocation,it,zurigo,[]
2,Solothurn,LocalsearchLocation,de,solothurn,[]
3,Muttenz,LocalsearchLocation,de,muttenz,[]
4,Lyss,LocalsearchLocation,de,lyss,[]
...,...,...,...,...,...
135095,400 Thunder Australian Drag Racing Series,BroadcastName,de,vierhundert thunder australian drag racing series,[]
135096,Missions,BroadcastName,en,missions,[]
135097,Missions,BroadcastName,de,missions,[]
135098,Space Escapes,BroadcastName,fr,space escapes,[]
135099,IMSA WeatherTech SportsCar Championship,BroadcastName,fr,IMSA weathertech sportscar championship,[]

## Read custom entities
Since not all entity types in template are included in entity table, such as channel num/ date/ time,
we need to create them according to language specific rules.

In [26]:
# amount: the amount of entities sample from {entity_amount} of entities
# entity amount: number of different entities, None means choose all
all_json_list = []
all_json_list += maker_Duration(language_list=['de', 'en'], entity_amount=None, amount=300)
all_json_list += maker_RouterWiFiDuration(language_list=['de', 'en'], entity_amount=None, amount=300)
all_json_list += maker_TvChannelPosition(language_list=['de', 'en'], entity_amount=None, amount=None, max_range=100)
all_json_list += maker_RadioChannelPosition(language_list=['de', 'en'], entity_amount=None, amount=None, max_range=100)
all_json_list += maker_LocalsearchTimeStampEndTime(language_list=['de', 'en'], entity_amount=None, amount=300)
all_json_list += maker_LocalsearchTimeStampStartTime(language_list=['de', 'en'], entity_amount=None, amount=300)
all_json_list += maker_LocalsearchTimeStampStartDay(language_list=['de', 'en'], entity_amount=None, amount=300)

## Save file

In [37]:
dest_file = 'data/entities_custom.json'
with open(dest_file, 'w') as fout:
    json.dump(all_json_list, fout)
# entities_custom
entities_custom = pd.read_json("data/entities_custom.json")
entities_meta = pd.concat([entities_with_collection, entities_custom]).reset_index(drop=True)
entities_meta

,value,type,language,normalizedValue,aliases
0,Widnau,LocalsearchLocation,de,widnau,[]
1,Zurigo,LocalsearchLocation,it,zurigo,[]
2,Solothurn,LocalsearchLocation,de,solothurn,[]
3,Muttenz,LocalsearchLocation,de,muttenz,[]
4,Lyss,LocalsearchLocation,de,lyss,[]
...,...,...,...,...,...
136991,11.27,LocalsearchTimeStampStartDay,de,siebenundzwanzigste november,[]
136992,12.3,LocalsearchTimeStampStartDay,de,zwölfte märz,[]
136993,3.30,LocalsearchTimeStampStartDay,de,dreissigste märz,[]
136994,9.20,LocalsearchTimeStampStartDay,en,twentieth september,[]
136995,1.28,LocalsearchTimeStampStartDay,en,twenty eighth january,[]

In [38]:
entities_meta.to_json("data/entities_meta.json")