# Get dataset

In [2]:
import pandas as pd
import numpy as np
import random

## Templates

In [11]:
# templates
templates = pd.read_json("../data/templates.json")
init_uttr_updated = pd.read_csv("../data/InitUtterance_list_updated.csv")
templates_updated = templates.merge(init_uttr_updated, on='id')
templates_updated = templates_updated[['id','de', 'fr', 'it', 'en']]
templates_updated.head()

,id,de,fr,it,en
0,MyCloud.OpenArea.Init.Utterance,{'texts': [{'ttsText': '{MyCloudArea} auf #myC...,{'texts': [{'ttsText': 'afficher {MyCloudArea}...,{'texts': [{'ttsText': 'apri {MyCloudArea} su ...,{'texts': [{'ttsText': 'show {MyCloudArea} on ...
1,Router.SwitchOnWiFi.Init.Utterance,"{'texts': [{'ttsText': 'aktiviere das Wlan'}, ...","{'texts': [{'ttsText': 'active le Wi-Fi'}, {'t...","{'texts': [{'ttsText': 'attiva il #wifi'}, {'t...","{'texts': [{'ttsText': 'activate the Wi-Fi'}, ..."
2,Tv.GenericExitToTv.Init.Utterance,{'texts': [{'ttsText': 'gehe zurück zum Fernse...,"{'texts': [{'ttsText': 'revenir à la télé'}, {...","{'texts': [{'ttsText': 'torna alla TV'}, {'tts...","{'texts': [{'ttsText': 'back to TV'}, {'ttsTex..."
3,Router.SwitchOffWiFi.Init.Utterance,{'texts': [{'ttsText': 'deaktiviere das Wlan'}...,"{'texts': [{'ttsText': 'désactiver le Wi-Fi'},...","{'texts': [{'ttsText': 'disattiva il wifi'}, {...",{'texts': [{'ttsText': 'can you please switch ...
4,Tv.RadioChannelChange.Init.Utterance,{'texts': [{'ttsText': 'auf Radio {RadioChanne...,{'texts': [{'ttsText': 'prendre radio {RadioCh...,{'texts': [{'ttsText': 'metti radio {RadioChan...,{'texts': [{'ttsText': 'can you turn on radio ...

In [5]:
templates_updated.describe()

,id,de,fr,it,en
count,39,39,39,39,39
unique,39,39,39,39,39
top,Tv.SkipCommercial.Init.Utterance,{'texts': [{'ttsText': '{SmartHomeSceneName} S...,{'texts': [{'ttsText': 'activer scène {SmartHo...,{'texts': [{'ttsText': 'attiva scena {SmartHom...,{'texts': [{'ttsText': 'activate {SmartHomeSce...
freq,1,1,1,1,1

## Entities

In [33]:
# entities
entities = pd.read_json("../data/entities.json")
entities = entities[['value', 'type', 'language', 'normalizedValue', 'aliases']]
entities.head()

       value                 type language normalizedValue aliases
0     Widnau  LocalsearchLocation       de          widnau      []
1     Zurigo  LocalsearchLocation       it          zurigo      []
2  Solothurn  LocalsearchLocation       de       solothurn      []
3    Muttenz  LocalsearchLocation       de         muttenz      []
4       Lyss  LocalsearchLocation       de            lyss      []

In [34]:
entities.describe()

        value        type language normalizedValue aliases
count   65471       65471    65471           65471   65471
unique  51272          33        4           52082    3793
top      Golf  SeriesName       de            golf      []
freq       20       17913    22746              20   59649

# Explore data

### Entities catagorical count

In [8]:
df = entities[['type', 'language']]
df = df.groupby(['type','language']).size().reset_index(name='count') 
df.pivot(index='type', columns='language', values='count')#.plot(kind='bar')

language                     de      en      fr      it
type
AlbumName                   NaN  1479.0     NaN     NaN
AppName                   326.0   273.0   312.0   290.0
AreaName                   26.0    26.0    26.0    26.0
ArtistName                  NaN   822.0     NaN     NaN
BroadcastName             715.0   483.0   676.0   663.0
CallingNumberType           3.0     4.0     4.0     4.0
ClipName                  353.0   320.0   342.0   338.0
DossierName                 8.0     3.0     5.0     3.0
FirstName                 952.0     NaN     NaN     NaN
GenreName                   NaN     8.0     NaN     NaN
LastName                  998.0     NaN     NaN     NaN
LocalsearchLocation      3403.0    28.0  1909.0  1572.0
MyCloudArea                 5.0     5.0     5.0     5.0
NickName                   20.0    25.0    21.0    20.0
ParticipantName          2710.0   297.0  1473.0   575.0
RadioChannelName          366.0   365.0   365.0   365.0
SeriesName               6186.0  3281.0  4766.0  3680.0
SmartHomeDeviceBrand        8.0    10.0    10.0     9.0
SmartHomeDeviceCategory     5.0     5.0     5.0     5.0
SmartHomeDeviceLocation     9.0     9.0     9.0     9.0
SmartHomeDeviceName       100.0   100.0   100.0   101.0
SmartHomeSceneName         50.0    49.0    50.0    50.0
SportCompetitionName       20.0    20.0    20.0    20.0
SportEventName            206.0   207.0   203.0   207.0
SportParticipantName      432.0   432.0   432.0   432.0
SportSportsName            10.0    10.0    10.0    10.0
TrackName                   NaN  2701.0     NaN     NaN
TvChannelName             635.0   623.0   633.0   633.0
TvGenre                   137.0   131.0   131.0   127.0
VodGenre                   99.0   107.0    99.0    99.0
VodName                  4961.0  4209.0  3760.0  2083.0
entitytype_1                1.0     NaN     NaN     NaN
test_aliasesTest            2.0     NaN     1.0     NaN

In [12]:
templates_updated.head()

,id,de,fr,it,en
0,MyCloud.OpenArea.Init.Utterance,{'texts': [{'ttsText': '{MyCloudArea} auf #myC...,{'texts': [{'ttsText': 'afficher {MyCloudArea}...,{'texts': [{'ttsText': 'apri {MyCloudArea} su ...,{'texts': [{'ttsText': 'show {MyCloudArea} on ...
1,Router.SwitchOnWiFi.Init.Utterance,"{'texts': [{'ttsText': 'aktiviere das Wlan'}, ...","{'texts': [{'ttsText': 'active le Wi-Fi'}, {'t...","{'texts': [{'ttsText': 'attiva il #wifi'}, {'t...","{'texts': [{'ttsText': 'activate the Wi-Fi'}, ..."
2,Tv.GenericExitToTv.Init.Utterance,{'texts': [{'ttsText': 'gehe zurück zum Fernse...,"{'texts': [{'ttsText': 'revenir à la télé'}, {...","{'texts': [{'ttsText': 'torna alla TV'}, {'tts...","{'texts': [{'ttsText': 'back to TV'}, {'ttsTex..."
3,Router.SwitchOffWiFi.Init.Utterance,{'texts': [{'ttsText': 'deaktiviere das Wlan'}...,"{'texts': [{'ttsText': 'désactiver le Wi-Fi'},...","{'texts': [{'ttsText': 'disattiva il wifi'}, {...",{'texts': [{'ttsText': 'can you please switch ...
4,Tv.RadioChannelChange.Init.Utterance,{'texts': [{'ttsText': 'auf Radio {RadioChanne...,{'texts': [{'ttsText': 'prendre radio {RadioCh...,{'texts': [{'ttsText': 'metti radio {RadioChan...,{'texts': [{'ttsText': 'can you turn on radio ...

In [16]:
t = templates_updated[templates_updated['id'] == target_id]['de'][0]['texts'][0]['ttsText']

In [17]:
#multiple label
t

'{MyCloudArea} auf #myCloud anzeigen'

In [27]:
import re  
# re.sub('{\S+}', 'DDD', t)
tags = [ s[1 : -1] for s in re.findall('{\S+}', t+"{MyCloudArea}")]

In [26]:
entities.head()

       value                 type language normalizedValue
0     Widnau  LocalsearchLocation       de          widnau
1     Zurigo  LocalsearchLocation       it          zurigo
2  Solothurn  LocalsearchLocation       de       solothurn
3    Muttenz  LocalsearchLocation       de         muttenz
4       Lyss  LocalsearchLocation       de            lyss

In [30]:
entities[entities['type'] == tags[0]]

                     value         type language      normalizedValue
41769                Fotos  MyCloudArea       de                fotos
41770               photos  MyCloudArea       en               photos
41771       recent uploads  MyCloudArea       en       recent uploads
41772            Favoriten  MyCloudArea       de            favoriten
41773           favourites  MyCloudArea       en           favourites
41774                Alben  MyCloudArea       de                alben
41775               albums  MyCloudArea       en               albums
41776               Videos  MyCloudArea       de               videos
41777               videos  MyCloudArea       en               videos
41778                 foto  MyCloudArea       it                 foto
41779               photos  MyCloudArea       fr               photos
41780  Zuletzt hochgeladen  MyCloudArea       de  zuletzt hochgeladen
41781        ultimi upload  MyCloudArea       it        ultimi upload
41782     derniers uploads  MyCloudArea       fr     derniers uploads
41783            preferiti  MyCloudArea       it            preferiti
41784              favoris  MyCloudArea       fr              favoris
41785                album  MyCloudArea       it                album
41786               albums  MyCloudArea       fr               albums
41787                video  MyCloudArea       it                video
41788               vidéos  MyCloudArea       fr               vidéos

In [ ]:
for tag in tags:

In [15]:
target_id, target_lang = 'MyCloud.OpenArea.Init.Utterance', 'de'
def generate_entity()
def generate_command(templates, target_id, target_lang):
    pattern_list = templates[templates['id'] == target_id][target_lang][0]['texts']
    
    #TODO: improve random
    pattern = random.choice(pattern_list)['ttsText']
    
    replace_label(pattern)

generate_command(templates_updated, target_id, target_lang)

NameError: name 'replace_label' is not defined

In [62]:
from essential_generators import DocumentGenerator

In [67]:
gen = DocumentGenerator()

MyCloudArea = {'{} auf #myCloud anzeigen'
}

gen.set_template(template)
documents = gen.documents(10)

In [4]:
from plato_ai_asr_preprocessor.preprocessor import Preprocessor


class Normalizer:
    preprocessor: Preprocessor = None

    def __init__(self):
        self.preprocessor = Preprocessor(use_case='kaldi-lm', cleaner_config=None, abbreviation_config=None)

    def normalize_text(self, text: str, language: str) -> str:
        normalized_text, _ = self.preprocessor.process(text=text, language=language)
        return normalized_text

In [5]:
n = Normalizer()
n.normalize_text("Fotos MyCloud anzeigen", "de")

'fotos mycloud anzeigen'